.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space);
}
.card {
  display: block;
  border-radius: 20px;
  background-color: var(--bgColor);
  color: var(--title-color);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}
